a:link, a:visited {
    text-decoration: none;
    text-decoration-color: black;   
}

body { text-decoration: none;
    background-color: rgb(223, 217, 217);
    background-image: url(imagenes_pag_construccion/Witching\ Hour.jpg);
    background-size:cover;
}

.carousel-inner{
    height: 500px;
    position:relative;
    top:20px;
}

.container{
    position:relative;
    position:center;
}