a:link, a:visited {
    text-decoration: none;
    text-decoration-color: black;
  }

body {
    background-color: rgb(223, 217, 217);
    background-image: url(imagenes_maquetas/Witching\ Hour.jpg );
    background-size:cover;
}


.titulovj{
    Color:whitesmoke;
    font-family:Bebas Neue;
    font-size:70px;
    text-align: center;
    position:relative;

}

.card{
    width:400px;
    height: 400px;
    position: relative;
    top:-50px;
    
}

.card-body{
    max-height: 250px;
    min-height: 250px;
}   